<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239748318084-foh1bsk8tg8s3bfim0hfqmansbvf3bna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239748318084-foh1bsk8tg8s3bfim0hfqmansbvf3bna</string>
	<key>API_KEY</key>
	<string>AIzaSyAilVwO2mfkFcAhT2ySdClVeK6j8KvkLJs</string>
	<key>GCM_SENDER_ID</key>
	<string>239748318084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pembuatanprogram.kantin</string>
	<key>PROJECT_ID</key>
	<string>kasir-firebase-7a0ed</string>
	<key>STORAGE_BUCKET</key>
	<string>kasir-firebase-7a0ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239748318084:ios:cf6e96fa31277fd06dd3d1</string>
</dict>
</plist>